html {
  font-size: 1.5em;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 30rem;
  padding: 0 1rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: 200;
}

p>a {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

p>a:hover {
  background-color: aliceblue;
  border-bottom-color: inherit;
}

form {
  width: 26rem;
}

input, .equation {
  font-family: 'IBM Plex Mono', monospace;
}

input {
  font-size: .8rem;
  margin-right: .25rem;
  width: 3.5rem;
}

label {
  margin-left: .25rem;
}

.equation {
  border: 1px dotted lightgray;
  color: dimgray;
  display: inline-block;
  font-size: 1.15rem;
}

.equation>.output {
  color: black;
}
